<ion-app>
  <!-- <ion-split-pane contentId="main-content"> -->
    <ion-menu contentId="main-content" swipeGesture="false" type="overlay">
      <ion-content>
        <div style = "display: flex;justify-content: center;">
          <img width="32" src="../assets/icon/logo.png">
        </div>
        <!-- <ion-list id="inbox-list">
          <div class="ion-margin-bottom">
            <h3>Dashboard</h3>
            <ion-note>Dashboard principal</ion-note>
          </div>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->

        <ion-list id="inbox-list" *ngFor="let s of sections;">
          <div class="ion-margin-bottom">
            <h3>{{s.title}}</h3>
            <ion-note>{{s.subtitle}}</ion-note>
          </div>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of s.options;">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list id="labels-list">
          <div class="ion-margin-bottom">
            <h3>Comercial</h3>
            <ion-note>Gestión comercial</ion-note>
          </div>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  <!-- </ion-split-pane> -->
</ion-app>
